#headshot {
  width: 20%;
  height: auto;
}
.Section1 {
  position: relative;
  text-align: center;
  color: white;
}
.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
