#headshot {
  width: 20%;
  height: auto;
}
.Section1 {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.name {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', monospace;
  font-size: 35px;
  color: black;
  font-weight: bold;
}
.aspswe {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', monospace;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
